//
// VARIABLES
//

// Colors
$colorHeading: #d1e984;
$colorBodyText: #c9c3d3;
$myBackground: #103336;
$myHover: #ffffff;

$blue: #d1e984;
$yellow: #5de77e;

// Grays
$black: #000;
$darkerGray: #222225;
$darkGray: #555;
$gray: #ddd;
$lightGray: #ddd;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, serif;
$helveticaNeue: Lora, "Helvetica Neue", Helvetica, Arial, serif;
$raleway: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
