//
// VARIABLES
//

// Colors
$blue: #57c;
$yellow: #7fb98c;
$myHover: #b1a74d;

// Grays
$black: #000;
$darkerGray: #222225;
$darkGray: #555;
$gray: #ddd;
$lightGray: #ddd;
$white: #fff;
$myBackground: #212133;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$raleway: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
