---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% capture when %}{{ page.date | date: '%B %d, %Y'}}{% endcapture %}
  <div class="date">{{ page.author }} &raquo; {{ when }}</div>

  <div class="entry">
    <img
      src="{{ site.url}}/{{ page.thumbnail }}"
      title="{{page.title}}"
      alt="{{page.title}}"
    />

    <div class="blurb-intro">
      {{ page.summary }}
    </div>

    {{ content }}
  </div>

  <!-- {% include comment-utterances.html %} -->
</article>
